<% if notice %>
  <div id="notice" class="flash alert alert-dismissible alert-success d-none" data-dismiss="alert" data-controller="flash" data-flash-type="success">
    <button class="close" data-dismiss="alert" type="button">
      <span>&times;</span>
    </button>
    <i class="fas fa-info-circle"></i>
    <span data-target="flash.message"><%= notice %></span>
  </div>
<% end %>
<% if alert %>
  <div id="alert" class="flash alert alert-dismissible alert-danger d-none" data-dismiss="alert" data-controller="flash" data-flash-type="error">
    <button class="close" data-dismiss="alert" type="button">
      <span>&times;</span>
    </button>
    <i class="fas fa-exclamation-circle"></i>
    <span data-target="flash.message"><%= alert %></span>
  </div>
<% end %>
