@import 'https://fonts.googleapis.com/css?family=Montserrat:500|Work+Sans:400,600|Abel';

@mixin font-page-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 32pt;
}

@mixin font-price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

@mixin font-decoration-bar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@mixin font-section-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20pt;
}

@mixin font-base {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18pt;
}

@mixin font-small-text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16pt;
}

$a-tags: 'a', 'a:active', 'a:hover', 'a:visited';

html, body {
  height: 100%;
}

body {
  @include font-base;
  color: $primary;
  background-color: $light;
  padding-top: $header-height;
}

h2 {
  @include font-page-title;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  display: inline;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

.btn label {
  @extend .hand;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
